@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-family {
  font-family: "Work Sans", sans-serif;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.max-w-270 {
  max-width: 270px;
}

.w-100 {
  width: 100%;
}

.min-vh-100 {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-3 {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
}

.card {
  box-shadow: 0px 1px 10px 0px #0000001A;
  max-width: 270px;
  width: 100%;
  padding-bottom: 15px;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 124%;
  letter-spacing: 0%;
  margin: 0;
  padding-top: 24px;
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 151%;
  letter-spacing: 0%;
  margin: 0;
  color: #7B7B7B;
  padding-top: 12px;
}

.icon {
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 10px 0px #0000001A;
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  transition: all 200ms linear;
}

.icon:hover {
  background-color: #FF5300;

}

.icon:hover path {
  fill: white;
}

.icon-container {
  position: absolute;
  top: 37px;
  right: -50%;
  overflow: hidden;
  transition: all 200ms linear;
}

.card {
  position: relative;
  overflow: hidden;
}

.card:hover .icon-container {
  right: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width:576px) {
  .col-sm-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width:768px) {
  .col-md-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width:992px) {
  .col-lg-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .flex-wrap {
    flex-wrap: nowrap;
  }
}